In [96]:
#import Dependencies
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [97]:
#read in the file
overdose_df= pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts.csv")

In [98]:
#overview of data
overdose_df.head()

,State,State Name,Year,Month,Indicator,Data Value,Predicted Value,Percent Complete,Percent Pending Investigation,Footnote
0,AK,Alaska,2015,January,Number of Deaths,4034.0,NaN,100,0.0,NaN
1,AK,Alaska,2015,February,Number of Deaths,4084.0,NaN,100,0.0,NaN
2,AK,Alaska,2015,March,Number of Deaths,4101.0,NaN,100,0.0,NaN
3,AK,Alaska,2015,April,Number of Deaths,4133.0,NaN,100,0.0,NaN
4,AK,Alaska,2015,May,Number of Deaths,4196.0,NaN,100,0.0,NaN

In [99]:
#statistical summary of data
overdose_df.describe

<bound method NDFrame.describe of      State     State Name  Year      Month  \
0       AK         Alaska  2015    January
1       AK         Alaska  2015   February
2       AK         Alaska  2015      March
3       AK         Alaska  2015      April
4       AK         Alaska  2015        May
5       AK         Alaska  2015       June
6       AK         Alaska  2015       July
7       AK         Alaska  2015     August
8       AK         Alaska  2015  September
9       AK         Alaska  2015    October
10      AK         Alaska  2015   November
11      AK         Alaska  2015   December
12      AK         Alaska  2016    January
13      AK         Alaska  2016   February
14      AK         Alaska  2016      March
15      AK         Alaska  2016      April
16      AK         Alaska  2016        May
17      AK         Alaska  2016       June
18      AK         Alaska  2016       July
19      AK         Alaska  2016     August
20      AK         Alaska  2016  September
21      AK         Alaska  2016    October
22      AK         Alaska  2016   November
23      AK         Alaska  2016   December
24      AK         Alaska  2017    January
25      AK         Alaska  2017   February
26      AK         Alaska  2017      March
27      AK         Alaska  2017      April
28      AK         Alaska  2017        May
29      AK         Alaska  2017       June
...    ...            ...   ...        ...
9280    YC  New York City  2015       June
9281    YC  New York City  2015       July
9282    YC  New York City  2015     August
9283    YC  New York City  2015  September
9284    YC  New York City  2015    October
9285    YC  New York City  2015   November
9286    YC  New York City  2015   December
9287    YC  New York City  2016    January
9288    YC  New York City  2016   February
9289    YC  New York City  2016      March
9290    YC  New York City  2016      April
9291    YC  New York City  2016        May
9292    YC  New York City  2016       June
9293    YC  New York City  2016       July
9294    YC  New York City  2016     August
9295    YC  New York City  2016  September
9296    YC  New York City  2016    October
9297    YC  New York City  2016   November
9298    YC  New York City  2016   December
9299    YC  New York City  2017    January
9300    YC  New York City  2017   February
9301    YC  New York City  2017      March
9302    YC  New York City  2017      April
9303    YC  New York City  2017        May
9304    YC  New York City  2017       June
9305    YC  New York City  2017       July
9306    YC  New York City  2017     August
9307    YC  New York City  2017  September
9308    YC  New York City  2017    October
9309    YC  New York City  2017   November

                                       Indicator  Data Value  Predicted Value  \
0                               Number of Deaths      4034.0              NaN
1                               Number of Deaths      4084.0              NaN
2                               Number of Deaths      4101.0              NaN
3                               Number of Deaths      4133.0              NaN
4                               Number of Deaths      4196.0              NaN
5                               Number of Deaths      4201.0              NaN
6                               Number of Deaths      4220.0              NaN
7                               Number of Deaths      4222.0              NaN
8                               Number of Deaths      4242.0              NaN
9                               Number of Deaths      4241.0              NaN
10                              Number of Deaths      4219.0              NaN
11                              Number of Deaths      4193.0              NaN
12                              Number of Deaths      4213.0              NaN
13                              Number of Deaths      4198.0              NaN
14                              Number of Deaths      4230.0              NaN
15                              Number of Deaths      4262.0              NaN
16                              Number of Deaths      4241.0              NaN
17                              Number of Deaths      4261.0              NaN
18                              Number of Deaths      4269.0              NaN
19                              Number of Deaths      4276.0              NaN
20                              Number of Deaths      4256.0              NaN
21                              Number of Deaths      4291.0              NaN
22                              Number of Deaths      4289.0              NaN
23                              Number of Deaths      4355.0              NaN
24                              Number of Deaths      4374.0              NaN
25                              Number of Deaths      4347.0              NaN
26                              Number of Deaths      4360.0              NaN
27                              Number of Deaths      4326.0              NaN
28                              Number of Deaths      4278.0              NaN
29                              Number of Deaths      4277.0              NaN
...                                          ...         ...              ...
9280  Synthetic opioids, excl. methadone (T40.4)        48.0             49.0
9281  Synthetic opioids, excl. methadone (T40.4)        50.0             51.0
9282  Synthetic opioids, excl. methadone (T40.4)        61.0             62.0
9283  Synthetic opioids, excl. methadone (T40.4)        83.0             85.0
9284  Synthetic opioids, excl. methadone (T40.4)       109.0            111.0
9285  Synthetic opioids, excl. methadone (T40.4)       121.0            123.0
9286  Synthetic opioids, excl. methadone (T40.4)       136.0            139.0
9287  Synthetic opioids, excl. methadone (T40.4)       154.0            157.0
9288  Synthetic opioids, excl. methadone (T40.4)       194.0            197.0
9289  Synthetic opioids, excl. methadone (T40.4)       239.0            243.0
9290  Synthetic opioids, excl. methadone (T40.4)       280.0            284.0
9291  Synthetic opioids, excl. methadone (T40.4)       310.0            316.0
9292  Synthetic opioids, excl. methadone (T40.4)       343.0            349.0
9293  Synthetic opioids, excl. methadone (T40.4)       399.0            406.0
9294  Synthetic opioids, excl. methadone (T40.4)       441.0            448.0
9295  Synthetic opioids, excl. methadone (T40.4)       476.0            484.0
9296  Synthetic opioids, excl. methadone (T40.4)       492.0            500.0
9297  Synthetic opioids, excl. methadone (T40.4)       529.0            538.0
9298  Synthetic opioids, excl. methadone (T40.4)       579.0            589.0
9299  Synthetic opioids, excl. methadone (T40.4)       629.0            631.0
9300  Synthetic opioids, excl. methadone (T40.4)       639.0            644.0
9301  Synthetic opioids, excl. methadone (T40.4)       627.0            634.0
9302  Synthetic opioids, excl. methadone (T40.4)       640.0            649.0
9303  Synthetic opioids, excl. methadone (T40.4)       668.0            677.0
9304  Synthetic opioids, excl. methadone (T40.4)       703.0            718.0
9305  Synthetic opioids, excl. methadone (T40.4)       714.0            732.0
9306  Synthetic opioids, excl. methadone (T40.4)       724.0            741.0
9307  Synthetic opioids, excl. methadone (T40.4)       753.0            771.0
9308  Synthetic opioids, excl. methadone (T40.4)       779.0            797.0
9309  Synthetic opioids, excl. methadone (T40.4)       795.0            815.0

      Percent Complete  Percent Pending Investigation  \
0                  100                       0.000000
1                  100                       0.000000
2                  100                       0.000000
3                  100                       0.000000
4                  100                       0.000000
5                  100                       0.000000
6                  100                       0.000000
7                  100                       0.000000
8                  100                       0.000000
9                  100                       0.000000
10                 100                       0.000000
11                 100                       0.000000
12                 100                       0.000000
13                 100                       0.000000
14                 100                       0.000000
15                 100                       0.000000
16                 100                       0.000000
17                 100                       0.000000
18                 100                       0.000000
19                 100                       0.023386
20                 100                       0.046992
21                 100                       0.069914
22                 100                       0.069946
23                 100                       0.068886
24                 100                       0.068587
25                 100                       0.069013
26                 100                       0.068807
27                 100                       0.069348
28                 100                       0.070126
29                 100                       0.070143
...                ...                            ...
9280               100                       0.033267
9281               100                       0.036839
9282               100                       0.036694
9283               100                       0.036732
9284               100                       0.040314
9285               100                       0.040501
9286               100                       0.038803
9287               100                       0.039162
9288               100                       0.031823
9289               100                       0.031748
9290               100                       0.029898
9291               100                       0.050471
9292               100                       0.041172
9293               100                       0.039251
9294               100                       0.037394
9295               100                       0.037360
9296               100                       0.037352
9297               100                       0.037118
9298               100                       0.040531
9299               100                       0.038486
9300               100                       0.038601
9301               100                       0.040632
9302               100                       0.040690
9303               100                       0.022143
9304               100                       0.023965
9305               100                       0.025830
9306               100                       0.035061
9307               100                       0.044174
9308               100                       0.058946
9309               100                       0.088496

                                    Footnote
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21                                       NaN
22                                       NaN
23                                       NaN
24    * Underreported due to incomplete data
25    * Underreported due to incomplete data
26    * Underreported due to incomplete data
27    * Underreported due to incomplete data
28    * Underreported due to incomplete data
29    * Underreported due to incomplete data
...                                      ...
9280                                     NaN
9281                                     NaN
9282                                     NaN
9283                                     NaN
9284                                     NaN
9285                                     NaN
9286                                     NaN
9287                                     NaN
9288                                     NaN
9289                                     NaN
9290                                     NaN
9291                                     NaN
9292                                     NaN
9293                                     NaN
9294                                     NaN
9295                                     NaN
9296                                     NaN
9297                                     NaN
9298                                     NaN
9299  * Underreported due to incomplete data
9300  * Underreported due to incomplete data
9301  * Underreported due to incomplete data
9302  * Underreported due to incomplete data
9303  * Underreported due to incomplete data
9304  * Underreported due to incomplete data
9305  * Underreported due to incomplete data
9306  * Underreported due to incomplete data
9307  * Underreported due to incomplete data
9308  * Underreported due to incomplete data
9309  * Underreported due to incomplete data

[9310 rows x 10 columns]>

In [100]:
#overview of columns 
overdose_df.columns

Index(['State', 'State Name', 'Year', 'Month', 'Indicator', 'Data Value',
       'Predicted Value', 'Percent Complete', 'Percent Pending Investigation',
       'Footnote'],
      dtype='object')

In [102]:
#create a new data frame with usable columns 
new_overdose_df = overdose_df[['State','Year','Month','Indicator','Data Value']]
new_overdose_df.head()

  State  Year     Month         Indicator  Data Value
0    AK  2015   January  Number of Deaths      4034.0
1    AK  2015  February  Number of Deaths      4084.0
2    AK  2015     March  Number of Deaths      4101.0
3    AK  2015     April  Number of Deaths      4133.0
4    AK  2015       May  Number of Deaths      4196.0

In [103]:
#check the contents of the new_overdose_df 
new_overdose_df.describe
new_overdose_df.columns

Index(['State', 'Year', 'Month', 'Indicator', 'Data Value'], dtype='object')

In [104]:
#check the number of unique indicator /deaths by drug type
new_overdose_df['Indicator'].unique

<bound method Series.unique of 0                                 Number of Deaths
1                                 Number of Deaths
2                                 Number of Deaths
3                                 Number of Deaths
4                                 Number of Deaths
5                                 Number of Deaths
6                                 Number of Deaths
7                                 Number of Deaths
8                                 Number of Deaths
9                                 Number of Deaths
10                                Number of Deaths
11                                Number of Deaths
12                                Number of Deaths
13                                Number of Deaths
14                                Number of Deaths
15                                Number of Deaths
16                                Number of Deaths
17                                Number of Deaths
18                                Number of Deaths
19                                Number of Deaths
20                                Number of Deaths
21                                Number of Deaths
22                                Number of Deaths
23                                Number of Deaths
24                                Number of Deaths
25                                Number of Deaths
26                                Number of Deaths
27                                Number of Deaths
28                                Number of Deaths
29                                Number of Deaths
                           ...
9280    Synthetic opioids, excl. methadone (T40.4)
9281    Synthetic opioids, excl. methadone (T40.4)
9282    Synthetic opioids, excl. methadone (T40.4)
9283    Synthetic opioids, excl. methadone (T40.4)
9284    Synthetic opioids, excl. methadone (T40.4)
9285    Synthetic opioids, excl. methadone (T40.4)
9286    Synthetic opioids, excl. methadone (T40.4)
9287    Synthetic opioids, excl. methadone (T40.4)
9288    Synthetic opioids, excl. methadone (T40.4)
9289    Synthetic opioids, excl. methadone (T40.4)
9290    Synthetic opioids, excl. methadone (T40.4)
9291    Synthetic opioids, excl. methadone (T40.4)
9292    Synthetic opioids, excl. methadone (T40.4)
9293    Synthetic opioids, excl. methadone (T40.4)
9294    Synthetic opioids, excl. methadone (T40.4)
9295    Synthetic opioids, excl. methadone (T40.4)
9296    Synthetic opioids, excl. methadone (T40.4)
9297    Synthetic opioids, excl. methadone (T40.4)
9298    Synthetic opioids, excl. methadone (T40.4)
9299    Synthetic opioids, excl. methadone (T40.4)
9300    Synthetic opioids, excl. methadone (T40.4)
9301    Synthetic opioids, excl. methadone (T40.4)
9302    Synthetic opioids, excl. methadone (T40.4)
9303    Synthetic opioids, excl. methadone (T40.4)
9304    Synthetic opioids, excl. methadone (T40.4)
9305    Synthetic opioids, excl. methadone (T40.4)
9306    Synthetic opioids, excl. methadone (T40.4)
9307    Synthetic opioids, excl. methadone (T40.4)
9308    Synthetic opioids, excl. methadone (T40.4)
9309    Synthetic opioids, excl. methadone (T40.4)
Name: Indicator, Length: 9310, dtype: object>

In [ ]:
State_df = new_overdose_df.groupby('State')
State_df

In [ ]:
Deaths_Per_State = new_overdose_df.groupby('State')['Indicator'].value_counts()
Deaths_Per_State 
Deaths_per_State.unstack(level=0)

In [ ]:
number_of_Deaths = new_overdose_df['Indicator'].iloc[2:36]
number_of_Deaths

In [ ]:
for k,v in replace_vals.items():
    .new_overdose_df.iloc[(new_overdose_df[2:36] == k[Deaths]) 
df