In [21]:
#import Dependencies
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [22]:
#read in the file
death_by_drug= pd.read_csv("VSRR_Provisional_Drug_Overdose_Death_Counts.csv")
county_overdose = pd.read_csv("NCHS_-_Drug_Poisoning_Mortality_by_County__United_States (1).csv")
state_overdose = pd.read_csv("NCHS_-_Drug_Poisoning_Mortality_by_State__United_States (1).csv")

In [23]:
#overview of overdose death by drug type
death_by_drug.head()

,State,State Name,Year,Month,Indicator,Data Value,Predicted Value,Percent Complete,Percent Pending Investigation,Footnote
0,AK,Alaska,2015,January,Number of Deaths,4034.0,NaN,100,0.0,NaN
1,AK,Alaska,2015,February,Number of Deaths,4084.0,NaN,100,0.0,NaN
2,AK,Alaska,2015,March,Number of Deaths,4101.0,NaN,100,0.0,NaN
3,AK,Alaska,2015,April,Number of Deaths,4133.0,NaN,100,0.0,NaN
4,AK,Alaska,2015,May,Number of Deaths,4196.0,NaN,100,0.0,NaN

In [24]:
#check all the columns 
death_by_drug.columns

Index(['State', 'State Name', 'Year', 'Month', 'Indicator', 'Data Value',
       'Predicted Value', 'Percent Complete', 'Percent Pending Investigation',
       'Footnote'],
      dtype='object')

In [55]:
# get only needed columns and replace 
new_death_by_drug = death_by_drug[['State','Year','Month','Indicator','Data Value', 'Predicted Value']].fillna(0)
new_death_by_drug.head()

  State  Year     Month         Indicator  Data Value  Predicted Value
0    AK  2015   January  Number of Deaths      4034.0              0.0
1    AK  2015  February  Number of Deaths      4084.0              0.0
2    AK  2015     March  Number of Deaths      4101.0              0.0
3    AK  2015     April  Number of Deaths      4133.0              0.0
4    AK  2015       May  Number of Deaths      4196.0              0.0

In [56]:
county_overdose.head()

,FIPS,Year,State,ST,FIPS State,County,Population,"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)"
0,1001,2015,Alabama,AL,1,"Autauga County, AL",55347.0,10.1-12
1,1001,2002,Alabama,AL,1,"Autauga County, AL",45909.0,4.1-6
2,1001,1999,Alabama,AL,1,"Autauga County, AL",42963.0,2.1-4
3,1001,2007,Alabama,AL,1,"Autauga County, AL",52405.0,6.1-8
4,1001,2010,Alabama,AL,1,"Autauga County, AL",54660.0,8.1-10

In [63]:
#check all columns of overdose county data and drop uwanted column
county_overdose.columns
county_overdose_df = county_overdose.rename(columns = {'ST':'State','State':'State Name'})
new_county_overdose_df = county_overdose_df[['Year','State','Population',]]
new_county_overdose_df.head()

   Year State  Population
0  2015    AL     55347.0
1  2002    AL     45909.0
2  1999    AL     42963.0
3  2007    AL     52405.0
4  2010    AL     54660.0

In [67]:

merged_overdose_df = pd.merge(new_death_by_drug ,new_county_overdose_df,on='State')
merged_overdose_df.head()

,State,Year_x,Month,Indicator,Data Value,Predicted Value,Year_y,Population
0,AK,2015,January,Number of Deaths,4034.0,0.0,2000,2693.0
1,AK,2015,January,Number of Deaths,4034.0,0.0,2014,3317.0
2,AK,2015,January,Number of Deaths,4034.0,0.0,2009,3084.0
3,AK,2015,January,Number of Deaths,4034.0,0.0,2008,2991.0
4,AK,2015,January,Number of Deaths,4034.0,0.0,2006,2794.0

In [62]:
#rename the column headers  
new_overdose_df.rename(columns = {'Indicator':'Death Cause','Data Value':'Total Deaths','Predicted Value':'Predicted Deaths'}, inplace=True)
new_overdose_df.head()

C:\Users\nanaa\Anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

  State  Year     Month       Death Cause  Total Deaths  Predicted Deaths
0    AK  2015   January  Number of Deaths        4034.0               NaN
1    AK  2015  February  Number of Deaths        4084.0               NaN
2    AK  2015     March  Number of Deaths        4101.0               NaN
3    AK  2015     April  Number of Deaths        4133.0               NaN
4    AK  2015       May  Number of Deaths        4196.0               NaN

In [28]:
#replace NaN value with 0 
new_overdose_df2 = new_overdose_df.fillna(0)
new_overdose_df2.head()

  State  Year     Month       Death Cause  Total Deaths  Predicted Deaths
0    AK  2015   January  Number of Deaths        4034.0               0.0
1    AK  2015  February  Number of Deaths        4084.0               0.0
2    AK  2015     March  Number of Deaths        4101.0               0.0
3    AK  2015     April  Number of Deaths        4133.0               0.0
4    AK  2015       May  Number of Deaths        4196.0               0.0

In [38]:
#Checking all the unique causes of deaths
new_overdose_df2['Death Cause'].unique()

array(['Number of Deaths', 'Number of Drug Overdose Deaths',
       'Cocaine (T40.5)', 'Heroin (T40.1)', 'Methadone (T40.3)',
       'Natural & semi-synthetic opioids (T40.2)',
       'Opioids (T40.0-T40.4,T40.6)', 'Percent with drugs specified',
       'Psychostimulants with abuse potential (T43.6)',
       'Synthetic opioids, excl. methadone (T40.4)'], dtype=object)

In [46]:
#Count the number of unique values
len(new_overdose_df2["Death Cause"].unique())

10

In [48]:
#taking a look at the total no. of rows and columns of the data
new_overdose_df2.shape
#get value counts for each cause of death

(9310, 6)

In [43]:
new_overdose_df3 = []

In [29]:
#overview of overdose deaths by county
county_overdose.head()

,FIPS,Year,State,ST,FIPS State,County,Population,"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)"
0,1001,2015,Alabama,AL,1,"Autauga County, AL",55347.0,10.1-12
1,1001,2002,Alabama,AL,1,"Autauga County, AL",45909.0,4.1-6
2,1001,1999,Alabama,AL,1,"Autauga County, AL",42963.0,2.1-4
3,1001,2007,Alabama,AL,1,"Autauga County, AL",52405.0,6.1-8
4,1001,2010,Alabama,AL,1,"Autauga County, AL",54660.0,8.1-10

In [31]:
#checking the columns for the county data
county_overdose.columns

Index(['FIPS', 'Year', 'State', 'ST', 'FIPS State', 'County', 'Population',
       'Estimated Age-adjusted Death Rate, 16 Categories (in ranges)'],
      dtype='object')

In [30]:
#overview of overdose deaths by state
state_overdose.head()

,State,Year,Sex,Age Group,Race and Hispanic Origin,Deaths,Population,Crude Death Rate,Standard Error for Crude Rate,Lower Confidence Limit for Crude Rate,Upper Confidence Limit for Crude Rate,Age-adjusted Rate,Standard Error for Age-adjusted Rate,Lower Confidence Limit for Age-adjusted Rate,Upper Confidence Limit for Age-adjusted Rate,State Crude Rate in Range,US Crude Rate,US Age-adjusted Rate,Unit
0,Alabama,1999,Both Sexes,All Ages,All Races-All Origins,169,4430143,3.8148,0.29344,3.2396,4.3899,3.8521,0.29657,3.2708,4.4334,1.8–7.1,6.0382,6.0570,"per 100,000 population"
1,Alabama,2000,Both Sexes,All Ages,All Races-All Origins,197,4447100,4.4299,0.31561,3.8112,5.0485,4.4857,0.31985,3.8588,5.1126,1.8–7.1,6.1882,6.1749,"per 100,000 population"
2,Alabama,2001,Both Sexes,All Ages,All Races-All Origins,216,4467634,4.8348,0.32896,4.1900,5.4795,4.8915,0.33329,4.2382,5.5447,1.8–7.1,6.8057,6.7922,"per 100,000 population"
3,Alabama,2002,Both Sexes,All Ages,All Races-All Origins,211,4480089,4.7097,0.32423,4.0742,5.3452,4.7619,0.32868,4.1177,5.4062,1.8–7.1,8.1766,8.1957,"per 100,000 population"
4,Alabama,2003,Both Sexes,All Ages,All Races-All Origins,197,4503491,4.3744,0.31166,3.7635,4.9852,4.4333,0.31701,3.8120,5.0547,1.8–7.1,8.8881,8.8765,"per 100,000 population"

In [33]:
state_overdose.describe

<bound method NDFrame.describe of           State  Year         Sex Age Group Race and Hispanic Origin  Deaths  \
0       Alabama  1999  Both Sexes  All Ages    All Races-All Origins     169
1       Alabama  2000  Both Sexes  All Ages    All Races-All Origins     197
2       Alabama  2001  Both Sexes  All Ages    All Races-All Origins     216
3       Alabama  2002  Both Sexes  All Ages    All Races-All Origins     211
4       Alabama  2003  Both Sexes  All Ages    All Races-All Origins     197
5       Alabama  2004  Both Sexes  All Ages    All Races-All Origins     283
6       Alabama  2005  Both Sexes  All Ages    All Races-All Origins     283
7       Alabama  2006  Both Sexes  All Ages    All Races-All Origins     398
8       Alabama  2007  Both Sexes  All Ages    All Races-All Origins     511
9       Alabama  2008  Both Sexes  All Ages    All Races-All Origins     607
10      Alabama  2009  Both Sexes  All Ages    All Races-All Origins     630
11      Alabama  2010  Both Sexes  All Ages    All Races-All Origins     547
12      Alabama  2011  Both Sexes  All Ages    All Races-All Origins     552
13      Alabama  2012  Both Sexes  All Ages    All Races-All Origins     562
14      Alabama  2013  Both Sexes  All Ages    All Races-All Origins     598
15      Alabama  2014  Both Sexes  All Ages    All Races-All Origins     723
16      Alabama  2015  Both Sexes  All Ages    All Races-All Origins     736
17      Alabama  2016  Both Sexes  All Ages    All Races-All Origins     756
18       Alaska  1999  Both Sexes  All Ages    All Races-All Origins      46
19       Alaska  2000  Both Sexes  All Ages    All Races-All Origins      48
20       Alaska  2001  Both Sexes  All Ages    All Races-All Origins      62
21       Alaska  2002  Both Sexes  All Ages    All Races-All Origins      84
22       Alaska  2003  Both Sexes  All Ages    All Races-All Origins      83
23       Alaska  2004  Both Sexes  All Ages    All Races-All Origins      86
24       Alaska  2005  Both Sexes  All Ages    All Races-All Origins      79
25       Alaska  2006  Both Sexes  All Ages    All Races-All Origins      76
26       Alaska  2007  Both Sexes  All Ages    All Races-All Origins      72
27       Alaska  2008  Both Sexes  All Ages    All Races-All Origins     127
28       Alaska  2009  Both Sexes  All Ages    All Races-All Origins     131
29       Alaska  2010  Both Sexes  All Ages    All Races-All Origins      83
...         ...   ...         ...       ...                      ...     ...
2832  Wisconsin  2005  Both Sexes  All Ages    All Races-All Origins     518
2833  Wisconsin  2006  Both Sexes  All Ages    All Races-All Origins     593
2834  Wisconsin  2007  Both Sexes  All Ages    All Races-All Origins     622
2835  Wisconsin  2008  Both Sexes  All Ages    All Races-All Origins     606
2836  Wisconsin  2009  Both Sexes  All Ages    All Races-All Origins     631
2837  Wisconsin  2010  Both Sexes  All Ages    All Races-All Origins     630
2838  Wisconsin  2011  Both Sexes  All Ages    All Races-All Origins     698
2839  Wisconsin  2012  Both Sexes  All Ages    All Races-All Origins     692
2840  Wisconsin  2013  Both Sexes  All Ages    All Races-All Origins     856
2841  Wisconsin  2014  Both Sexes  All Ages    All Races-All Origins     853
2842  Wisconsin  2015  Both Sexes  All Ages    All Races-All Origins     878
2843  Wisconsin  2016  Both Sexes  All Ages    All Races-All Origins    1074
2844    Wyoming  1999  Both Sexes  All Ages    All Races-All Origins      20
2845    Wyoming  2000  Both Sexes  All Ages    All Races-All Origins      22
2846    Wyoming  2001  Both Sexes  All Ages    All Races-All Origins      22
2847    Wyoming  2002  Both Sexes  All Ages    All Races-All Origins      34
2848    Wyoming  2003  Both Sexes  All Ages    All Races-All Origins      30
2849    Wyoming  2004  Both Sexes  All Ages    All Races-All Origins      46
2850    Wyoming  2005  Both Sexes  All Ages    All Races-All Origins      26
2851    Wyoming  2006  Both Sexes  All Ages    All Races-All Origins      55
2852    Wyoming  2007  Both Sexes  All Ages    All Races-All Origins      63
2853    Wyoming  2008  Both Sexes  All Ages    All Races-All Origins      74
2854    Wyoming  2009  Both Sexes  All Ages    All Races-All Origins      60
2855    Wyoming  2010  Both Sexes  All Ages    All Races-All Origins      85
2856    Wyoming  2011  Both Sexes  All Ages    All Races-All Origins      85
2857    Wyoming  2012  Both Sexes  All Ages    All Races-All Origins      98
2858    Wyoming  2013  Both Sexes  All Ages    All Races-All Origins      98
2859    Wyoming  2014  Both Sexes  All Ages    All Races-All Origins     109
2860    Wyoming  2015  Both Sexes  All Ages    All Races-All Origins      96
2861    Wyoming  2016  Both Sexes  All Ages    All Races-All Origins      99

      Population  Crude Death Rate  Standard Error for Crude Rate  \
0        4430143            3.8148                        0.29344
1        4447100            4.4299                        0.31561
2        4467634            4.8348                        0.32896
3        4480089            4.7097                        0.32423
4        4503491            4.3744                        0.31166
5        4530729            6.2462                        0.37130
6        4569805            6.1928                        0.36813
7        4628981            8.5980                        0.43098
8        4672840           10.9355                        0.48376
9        4718206           12.8651                        0.52218
10       4757938           13.2410                        0.52754
11       4779736           11.4441                        0.48932
12       4802740           11.4934                        0.48919
13       4822023           11.6549                        0.49163
14       4833722           12.3714                        0.50590
15       4849377           14.9091                        0.55448
16       4858979           15.1472                        0.55833
17       4863300           15.5450                        0.56537
18        624781            7.3626                        1.08555
19        626932            7.6563                        1.10510
20        633714            9.7836                        1.24252
21        642337           13.0772                        1.42684
22        648414           12.8005                        1.40503
23        659286           13.0444                        1.40662
24        666946           11.8450                        1.33267
25        675302           11.2542                        1.29095
26        680300           10.5836                        1.24729
27        687455           18.4739                        1.63930
28        698895           18.7439                        1.63766
29        710231           11.6863                        1.28274
...          ...               ...                            ...
2832     5546166            9.3398                        0.41037
2833     5577655           10.6317                        0.43659
2834     5610775           11.0858                        0.44450
2835     5640996           10.7428                        0.43640
2836     5669264           11.1302                        0.44309
2837     5686986           11.0779                        0.44136
2838     5711767           12.2204                        0.46255
2839     5726398           12.0844                        0.45938
2840     5742713           14.9058                        0.50947
2841     5757564           14.8153                        0.50727
2842     5771337           15.2131                        0.51342
2843     5778708           18.5855                        0.56712
2844      491780            4.0669                        0.90938
2845      493782            4.4554                        0.94990
2846      494657            4.4475                        0.94822
2847      500017            6.7998                        1.16615
2848      503453            5.9588                        1.08793
2849      509106            9.0354                        1.33220
2850      514157            5.0568                        0.99172
2851      522667           10.5230                        1.41891
2852      534876           11.7784                        1.48394
2853      546043           13.5520                        1.57539
2854      559851           10.7171                        1.38358
2855      563626           15.0809                        1.63576
2856      568158           14.9606                        1.62271
2857      576412           17.0017                        1.71743
2858      582658           16.8195                        1.69902
2859      584153           18.6595                        1.78726
2860      586107           16.3793                        1.67170
2861      585501           16.9086                        1.69938

      Lower Confidence Limit for Crude Rate  \
0                                    3.2396
1                                    3.8112
2                                    4.1900
3                                    4.0742
4                                    3.7635
5                                    5.5185
6                                    5.4713
7                                    7.7533
8                                    9.9874
9                                   11.8416
10                                  12.2071
11                                  10.4851
12                                  10.5346
13                                  10.6913
14                                  11.3798
15                                  13.8224
16                                  14.0529
17                                  14.4369
18                                   5.3903
19                                   5.6452
20                                   7.5010
21                                  10.4309
22                                  10.1955
23                                  10.4338
24                                   9.3778
25                                   8.8670
26                                   8.2810
27                                  15.2609
28                                  15.5341
29                                   9.3081
...                                     ...
2832                                 8.5355
2833                                 9.7760
2834                                10.2146
2835                                 9.8874
2836                                10.2617
2837                                10.2129
2838                                11.3138
2839                                11.1840
2840                                13.9073
2841                                13.8211
2842                                14.2068
2843                                17.4739
2844                                 2.4841
2845                                 2.7922
2846                                 2.7872
2847                                 4.7090
2848                                 4.0204
2849                                 6.6151
2850                                 3.3033
2851                                 7.9273
2852                                 9.0509
2853                                10.6413
2854                                 8.1783
2855                                12.0461
2856                                11.9500
2857                                13.8028
2858                                13.6549
2859                                15.1565
2860                                13.2673
2861                                13.7425

      Upper Confidence Limit for Crude Rate  Age-adjusted Rate  \
0                                    4.3899             3.8521
1                                    5.0485             4.4857
2                                    5.4795             4.8915
3                                    5.3452             4.7619
4                                    4.9852             4.4333
5                                    6.9740             6.3542
6                                    6.9143             6.3330
7                                    9.4427             8.7498
8                                   11.8837            11.0885
9                                   13.8885            12.9811
10                                  14.2750            13.6077
11                                  12.4032            11.7688
12                                  12.4523            11.7632
13                                  12.6185            12.0706
14                                  13.3630            12.7176
15                                  15.9959            15.1532
16                                  16.2415            15.6639
17                                  16.6531            16.2075
18                                   9.8206             7.4638
19                                  10.1512             7.1077
20                                  12.5421             9.3983
21                                  16.1905            12.1995
22                                  15.8681            12.7245
23                                  16.1097            12.7164
24                                  14.7625            11.3744
25                                  14.0863            11.0604
26                                  13.3282            10.0941
27                                  21.6870            18.1345
28                                  21.9537            17.8528
29                                  14.4870            11.5962
...                                     ...                ...
2832                                10.1441             9.3367
2833                                11.4874            10.6366
2834                                11.9570            11.0976
2835                                11.5981            10.6039
2836                                11.9986            10.9348
2837                                11.9430            10.9422
2838                                13.1270            12.0766
2839                                12.9848            12.2266
2840                                15.9044            15.0285
2841                                15.8095            15.0648
2842                                16.2194            15.4719
2843                                19.6970            19.2873
2844                                 6.2809             4.0956
2845                                 6.7455             4.6054
2846                                 6.7336             4.5032
2847                                 9.5020             6.9214
2848                                 8.5066             5.9028
2849                                12.0520             9.0935
2850                                 7.4094             4.9027
2851                                13.6971            10.5619
2852                                15.0697            12.2666
2853                                17.0134            14.0453
2854                                13.7951            10.9508
2855                                18.6478            14.9556
2856                                18.4990            15.2082
2857                                20.7197            16.7507
2858                                20.4975            17.2422
2859                                22.1625            19.3823
2860                                20.0019            16.4454
2861                                20.5856            17.5871

      Standard Error for Age-adjusted Rate  \
0                                  0.29657
1                                  0.31985
2                                  0.33329
3                                  0.32868
4                                  0.31701
5                                  0.37944
6                                  0.37832
7                                  0.44162
8                                  0.49516
9                                  0.53292
10                                 0.54855
11                                 0.50959
12                                 0.50803
13                                 0.51722
14                                 0.52933
15                                 0.57484
16                                 0.58859
17                                 0.60241
18                                 1.21170
19                                 1.02971
20                                 1.20475
21                                 1.33512
22                                 1.45104
23                                 1.39682
24                                 1.29691
25                                 1.29844
26                                 1.20552
27                                 1.64954
28                                 1.59631
29                                 1.30471
...                                    ...
2832                               0.41256
2833                               0.44031
2834                               0.44934
2835                               0.43621
2836                               0.44203
2837                               0.44385
2838                               0.46613
2839                               0.47472
2840                               0.52496
2841                               0.52857
2842                               0.53525
2843                               0.60416
2844                               0.91882
2845                               0.98469
2846                               0.96530
2847                               1.19565
2848                               1.08929
2849                               1.35994
2850                               0.97898
2851                               1.44873
2852                               1.57448
2853                               1.66440
2854                               1.44087
2855                               1.66261
2856                               1.69454
2857                               1.73782
2858                               1.78648
2859                               1.90026
2860                               1.72940
2861                               1.81892

      Lower Confidence Limit for Age-adjusted Rate  \
0                                           3.2708
1                                           3.8588
2                                           4.2382
3                                           4.1177
4                                           3.8120
5                                           5.6105
6                                           5.5915
7                                           7.8842
8                                          10.1180
9                                          11.9366
10                                         12.5325
11                                         10.7700
12                                         10.7674
13                                         11.0569
14                                         11.6801
15                                         14.0265
16                                         14.5103
17                                         15.0268
18                                          5.2819
19                                          5.2407
20                                          7.1889
21                                          9.7168
22                                         10.0420
23                                         10.1286
24                                          8.9765
25                                          8.6696
26                                          7.8688
27                                         14.9014
28                                         14.7240
29                                          9.1809
...                                            ...
2832                                        8.5281
2833                                        9.7736