In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2013)

In [2]:
eco_data_2013 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E", "B23025_003E","B23025_005E",
                          "B17001_002E"), {'for': 'state:*'})


eco_2013 = pd.DataFrame(eco_data_2013)


eco_2013 = eco_2013.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_003E": "Employable Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})


eco_2013["Poverty Rate"] = 100 * \
    eco_2013["Poverty Count"].astype(
        int) / eco_2013["Population"].astype(int)

eco_2013["Unemployment Rate"] = 100 * \
    eco_2013["Unemployment Count"].astype(
        int) / eco_2013["Employable Count"].astype(int)


eco_2013 = eco_2013[["State","Name","Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Employable Count","Unemployment Count", "Unemployment Rate"]]


print(len(eco_2013))
eco_2013.head()

52

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,01,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,2244093.0,241930.0,10.780748
1,02,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487,376305.0,32939.0,8.753272
2,04,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,3038226.0,316360.0,10.412655
3,05,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,1366667.0,121235.0,8.870851
4,06,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,18804519.0,2168665.0,11.532680

In [3]:
eco_2013.to_csv("State_2013/census_economic_2013.csv", encoding="utf-8", index=False)

In [4]:
edu_data_2013= c.acs5.get(("NAME","B01003_001E", "B15003_002E",
                               "B15003_017E",
                               "B15003_018E",
                               "B15003_021E",
                               "B15003_022E",
                               "B15003_023E",
                               "B15003_024E",
                           "B15003_025E"), {'for': 'state:*'})

edu_2013=pd.DataFrame(edu_data_2013)

edu_2013=edu_2013.rename(columns={"B01003_001E": "Population","B15003_002E": "None",
                               "B15003_017E": "High School Degree",
                               "B15003_018E": "GED",
                               "B15003_021E": "Associate Degree",
                               "B15003_022E": "Bachelor Degree",
                               "B15003_023E":"Masters Degree",
                               "B15003_024E": "Professional Degree",
                           "B15003_025E":"Doctorate Degree", "NAME": "Name","state": "State"})

edu_2013= edu_2013[["State", "Name","Population","None","High School Degree","GED","Associate Degree","Bachelor Degree","Masters Degree","Professional Degree","Doctorate Degree"]]

edu_2013["High School and above"]= (edu_2013["High School Degree"]+edu_2013["GED"]+edu_2013["Associate Degree"]+edu_2013["Bachelor Degree"]+edu_2013["Masters Degree"]+edu_2013["Professional Degree"]+edu_2013["Doctorate Degree"])


edu_2013.head()

,State,Name,Population,None,High School Degree,GED,Associate Degree,Bachelor Degree,Masters Degree,Professional Degree,Doctorate Degree,High School and above
0,01,Alabama,4799277.0,40711.0,818315.0,173415.0,236473.0,458393.0,187852.0,45646.0,30801.0,1950895.0
1,02,Alaska,720316.0,2796.0,101267.0,22792.0,36351.0,80447.0,31988.0,7431.0,5068.0,285344.0
2,04,Arizona,6479703.0,52419.0,863210.0,168804.0,350503.0,716734.0,296979.0,69819.0,48203.0,2514252.0
3,05,Arkansas,2933369.0,22954.0,561542.0,117797.0,119038.0,257157.0,93456.0,23201.0,15503.0,1187694.0
4,06,California,37659181.0,598141.0,4525094.0,540940.0,1895918.0,4753446.0,1821325.0,565907.0,360357.0,14462987.0

In [5]:
edu_2013.to_csv("State_2013/census_education_2013.csv",encoding="utf-8",index=False)

In [6]:
from config import api_key
c = Census(api_key, year=2014)

In [7]:
eco_data_2014 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E", "B23025_003E","B23025_005E",
                          "B17001_002E"), {'for': 'state:*'})


eco_2014 = pd.DataFrame(eco_data_2014)


eco_2014 = eco_2014.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_003E": "Employable Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})


eco_2014["Poverty Rate"] = 100 * \
    eco_2014["Poverty Count"].astype(
        int) / eco_2014["Population"].astype(int)

eco_2014["Unemployment Rate"] = 100 * \
    eco_2014["Unemployment Count"].astype(
        int) / eco_2014["Employable Count"].astype(int)


eco_2014 = eco_2014[["State","Name","Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Employable Count","Unemployment Count", "Unemployment Rate"]]


print(len(eco_2014))
eco_2014.head()

52

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,01,Alabama,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,2239169.0,228716.0,10.214325
1,02,Alaska,728300.0,33.4,71829.0,33129.0,71866.0,9.867637,380080.0,32097.0,8.444801
2,04,Arizona,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,3059049.0,304067.0,9.939919
3,05,Arkansas,2947036.0,37.6,41264.0,22595.0,549303.0,18.639168,1366807.0,115090.0,8.420355
4,06,California,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,18975006.0,2084564.0,10.985841

In [8]:
eco_2014.to_csv("State_2014/census_economic_2014.csv", encoding="utf-8", index=False)

In [9]:
edu_data_2014= c.acs5.get(("NAME","B01003_001E", "B15003_002E",
                               "B15003_017E",
                               "B15003_018E",
                               "B15003_021E",
                               "B15003_022E",
                               "B15003_023E",
                               "B15003_024E",
                           "B15003_025E"), {'for': 'state:*'})

edu_2014=pd.DataFrame(edu_data_2014)

edu_2014=edu_2014.rename(columns={"B01003_001E": "Population","B15003_002E": "None",
                               "B15003_017E": "High School Degree",
                               "B15003_018E": "GED",
                               "B15003_021E": "Associate Degree",
                               "B15003_022E": "Bachelor Degree",
                               "B15003_023E":"Masters Degree",
                               "B15003_024E": "Professional Degree",
                           "B15003_025E":"Doctorate Degree", "NAME": "Name","state": "State"})

edu_2014= edu_2014[["State", "Name","Population","None","High School Degree","GED","Associate Degree","Bachelor Degree","Masters Degree","Professional Degree","Doctorate Degree"]]

edu_2014["High School and above"]= (edu_2014["High School Degree"]+edu_2014["GED"]+edu_2014["Associate Degree"]+edu_2014["Bachelor Degree"]+edu_2014["Masters Degree"]+edu_2014["Professional Degree"]+edu_2014["Doctorate Degree"])

edu_2014.head()

,State,Name,Population,None,High School Degree,GED,Associate Degree,Bachelor Degree,Masters Degree,Professional Degree,Doctorate Degree,High School and above
0,01,Alabama,4817678.0,41671.0,824979.0,174782.0,243873.0,465268.0,196935.0,47795.0,31815.0,1985447.0
1,02,Alaska,728300.0,2924.0,103345.0,23266.0,37684.0,82261.0,32681.0,7370.0,5126.0,291733.0
2,04,Arizona,6561516.0,55703.0,877163.0,172916.0,360743.0,733845.0,306410.0,71569.0,49252.0,2571898.0
3,05,Arkansas,2947036.0,22572.0,564546.0,117905.0,121464.0,263299.0,98442.0,24187.0,16663.0,1206506.0
4,06,California,38066920.0,624808.0,4597854.0,555403.0,1934950.0,4870524.0,1889640.0,575093.0,373652.0,14797116.0

In [10]:
edu_2014.to_csv("State_2014/census_education_2014.csv",encoding="utf-8",index=False)

In [11]:
from config import api_key
c = Census(api_key, year=2015)

In [12]:
eco_data_2015 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E", "B23025_003E","B23025_005E",
                          "B17001_002E"), {'for': 'state:*'})


eco_2015 = pd.DataFrame(eco_data_2015)


eco_2015 = eco_2015.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_003E": "Employable Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})


eco_2015["Poverty Rate"] = 100 * \
    eco_2015["Poverty Count"].astype(
        int) / eco_2015["Population"].astype(int)

eco_2015["Unemployment Rate"] = 100 * \
    eco_2015["Unemployment Count"].astype(
        int) / eco_2015["Employable Count"].astype(int)


eco_2015 = eco_2015[["State","Name","Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Employable Count","Unemployment Count", "Unemployment Rate"]]


print(len(eco_2015))
eco_2015.head()

52

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,02,Alaska,733375.0,33.4,72515.0,33413.0,72957.0,9.948117,382393.0,31285.0,8.181374
1,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,2229422.0,207097.0,9.289269
2,05,Arkansas,2958208.0,37.7,41371.0,22798.0,553644.0,18.715520,1361024.0,104943.0,7.710591
3,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,3089118.0,275712.0,8.925266
4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,19137441.0,1891081.0,9.881577

In [13]:
eco_2015.to_csv("State_2015/census_economic_2015.csv", encoding="utf-8", index=False)

In [14]:
edu_data_2015= c.acs5.get(("NAME","B01003_001E", "B15003_002E",
                               "B15003_017E",
                               "B15003_018E",
                               "B15003_021E",
                               "B15003_022E",
                               "B15003_023E",
                               "B15003_024E",
                           "B15003_025E"), {'for': 'state:*'})

edu_2015=pd.DataFrame(edu_data_2015)

edu_2015=edu_2015.rename(columns={"B01003_001E": "Population","B15003_002E": "None",
                               "B15003_017E": "High School Degree",
                               "B15003_018E": "GED",
                               "B15003_021E": "Associate Degree",
                               "B15003_022E": "Bachelor Degree",
                               "B15003_023E":"Masters Degree",
                               "B15003_024E": "Professional Degree",
                           "B15003_025E":"Doctorate Degree", "NAME": "Name","state": "State"})

edu_2015= edu_2015[["State", "Name","Population","None","High School Degree","GED","Associate Degree","Bachelor Degree","Masters Degree","Professional Degree","Doctorate Degree"]]

edu_2015["High School and above"]= (edu_2015["High School Degree"]+edu_2015["GED"]+edu_2015["Associate Degree"]+edu_2015["Bachelor Degree"]+edu_2015["Masters Degree"]+edu_2015["Professional Degree"]+edu_2015["Doctorate Degree"])

edu_2015.head()

,State,Name,Population,None,High School Degree,GED,Associate Degree,Bachelor Degree,Masters Degree,Professional Degree,Doctorate Degree,High School and above
0,02,Alaska,733375.0,2977.0,105527.0,23797.0,37719.0,83201.0,33447.0,8271.0,5002.0,296964.0
1,01,Alabama,4830620.0,41876.0,826272.0,179023.0,251335.0,478812.0,201997.0,48509.0,32332.0,2018280.0
2,05,Arkansas,2958208.0,23014.0,564438.0,120839.0,123526.0,267741.0,103397.0,24613.0,18348.0,1222902.0
3,04,Arizona,6641928.0,59117.0,887064.0,176701.0,370569.0,753425.0,321027.0,73284.0,51274.0,2633344.0
4,06,California,38421464.0,652517.0,4661300.0,570524.0,1970322.0,5002596.0,1965005.0,583790.0,387793.0,15141330.0

In [15]:
edu_2015.to_csv("State_2015/census_education_2015.csv",encoding="utf-8",index=False)

In [16]:
from config import api_key
c = Census(api_key, year=2016)

In [17]:
eco_data_2016 = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E", "B23025_003E","B23025_005E",
                          "B17001_002E"), {'for': 'state:*'})


eco_2016 = pd.DataFrame(eco_data_2016)


eco_2016 = eco_2016.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_003E": "Employable Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})


eco_2016["Poverty Rate"] = 100 * \
    eco_2016["Poverty Count"].astype(
        int) / eco_2016["Population"].astype(int)

eco_2016["Unemployment Rate"] = 100 * \
    eco_2016["Unemployment Count"].astype(
        int) / eco_2016["Employable Count"].astype(int)


eco_2016 = eco_2016[["State","Name","Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate","Employable Count","Unemployment Count", "Unemployment Rate"]]


print(len(eco_2016))
eco_2016.head()

52

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,2226504.0,184479.0,8.285590
1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,384093.0,30139.0,7.846798
2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3129344.0,249972.0,7.988000
3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,1359742.0,93190.0,6.853506
4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,19260868.0,1683726.0,8.741693

In [18]:
eco_2016.to_csv("State_2016/census_economic_2016.csv", encoding="utf-8", index=False)

In [19]:
edu_data_2016= c.acs5.get(("NAME","B01003_001E", "B15003_002E",
                               "B15003_017E",
                               "B15003_018E",
                               "B15003_021E",
                               "B15003_022E",
                               "B15003_023E",
                               "B15003_024E",
                           "B15003_025E"), {'for': 'state:*'})

edu_2016=pd.DataFrame(edu_data_2016)

edu_2016=edu_2016.rename(columns={"B01003_001E": "Population","B15003_002E": "None",
                               "B15003_017E": "High School Degree",
                               "B15003_018E": "GED",
                               "B15003_021E": "Associate Degree",
                               "B15003_022E": "Bachelor Degree",
                               "B15003_023E":"Masters Degree",
                               "B15003_024E": "Professional Degree",
                           "B15003_025E":"Doctorate Degree", "NAME": "Name","state": "State"})

edu_2016= edu_2016[["State", "Name","Population","None","High School Degree","GED","Associate Degree","Bachelor Degree","Masters Degree","Professional Degree","Doctorate Degree"]]

edu_2016["High School and above"]= (edu_2016["High School Degree"]+edu_2016["GED"]+edu_2016["Associate Degree"]+edu_2016["Bachelor Degree"]+edu_2016["Masters Degree"]+edu_2016["Professional Degree"]+edu_2016["Doctorate Degree"])

edu_2016.head()

,State,Name,Population,None,High School Degree,GED,Associate Degree,Bachelor Degree,Masters Degree,Professional Degree,Doctorate Degree,High School and above
0,01,Alabama,4841164.0,42577.0,828205.0,181388.0,258502.0,492382.0,208839.0,49283.0,32572.0,2051171.0
1,02,Alaska,736855.0,3020.0,106169.0,24342.0,39133.0,86551.0,35423.0,8522.0,5029.0,305169.0
2,04,Arizona,6728577.0,62538.0,898657.0,179701.0,379207.0,777681.0,333226.0,76987.0,53531.0,2698990.0
3,05,Arkansas,2968472.0,23010.0,561132.0,122754.0,127004.0,273557.0,108055.0,24517.0,18317.0,1235336.0
4,06,California,38654206.0,673089.0,4678279.0,582625.0,1995579.0,5136043.0,2045487.0,597874.0,397083.0,15432970.0

In [20]:
edu_2016.to_csv("State_2016/census_education_2016.csv",encoding="utf-8",index=False)

In [21]:
#10 Highest Unemployment rate for States in 2013
top_unemployment_2013 = eco_2013.sort_values(["Unemployment Rate"], ascending=False)

top_unemployment_2013.reset_index(inplace=True)

top_unemployment_2013.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3682966.0,37.5,19624.0,11068.0,1644128.0,44.641411,1346962.0,247824.0,18.398737
1,22,26,Michigan,9886095.0,39.1,48411.0,25681.0,1625982.0,16.447161,4859417.0,616469.0,12.686069
2,28,32,Nevada,2730066.0,36.6,52800.0,26589.0,403314.0,14.773049,1404746.0,175142.0,12.467877
3,9,12,Florida,19091156.0,41.0,46956.0,26236.0,3052807.0,15.990687,9298664.0,1096028.0,11.786941
4,4,06,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,18804519.0,2168665.0,11.532680
5,40,45,South Carolina,4679602.0,38.1,44779.0,23943.0,820308.0,17.529439,2261467.0,258444.0,11.428157
6,10,13,Georgia,9810417.0,35.6,49179.0,25182.0,1736680.0,17.702408,4799681.0,544802.0,11.350796
7,37,41,Oregon,3868721.0,38.7,50229.0,26809.0,614778.0,15.890988,1958085.0,221191.0,11.296292
8,24,28,Mississippi,2976872.0,36.2,39031.0,20618.0,653321.0,21.946560,1343584.0,149148.0,11.100757
9,33,37,North Carolina,9651380.0,37.6,46334.0,25284.0,1643389.0,17.027503,4762407.0,527430.0,11.074862
10,8,11,District of Columbia,619371.0,33.8,65830.0,45290.0,109200.0,17.630790,354171.0,38994.0,11.009936
11,0,01,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,2244093.0,241930.0,10.780748
12,13,17,Illinois,12848554.0,36.8,56797.0,29666.0,1772333.0,13.794027,6698936.0,700616.0,10.458616
13,2,04,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,3038226.0,316360.0,10.412655
14,42,47,Tennessee,6402387.0,38.2,44298.0,24409.0,1101732.0,17.208144,3123630.0,316682.0,10.138269
15,30,34,New Jersey,8832406.0,39.1,71629.0,36027.0,900583.0,10.196350,4669577.0,472094.0,10.109995
16,35,39,Ohio,11549590.0,39.0,48308.0,26046.0,1773853.0,15.358580,5849339.0,582953.0,9.966135
17,39,44,Rhode Island,1051695.0,39.6,56361.0,30469.0,137244.0,13.049791,565990.0,56125.0,9.916253
18,17,21,Kentucky,4361333.0,38.2,43036.0,23462.0,796202.0,18.255932,2059754.0,201987.0,9.806365
19,6,09,Connecticut,3583561.0,40.2,69461.0,37892.0,354348.0,9.888153,1950121.0,190709.0,9.779342

In [22]:
#10 Highest Poverty rate for States in 2013
top_poverty_2013 = eco_2013.sort_values(["Poverty Rate"], ascending=False)

top_poverty_2013.reset_index(inplace=True)

top_poverty_2013.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3682966.0,37.5,19624.0,11068.0,1644128.0,44.641411,1346962.0,247824.0,18.398737
1,24,28,Mississippi,2976872.0,36.2,39031.0,20618.0,653321.0,21.946560,1343584.0,149148.0,11.100757
2,31,35,New Mexico,2069706.0,36.7,44927.0,23763.0,413801.0,19.993226,970934.0,94111.0,9.692832
3,3,05,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682,1366667.0,121235.0,8.870851
4,18,22,Louisiana,4567968.0,36.0,44874.0,24442.0,846780.0,18.537345,2187544.0,192166.0,8.784555
5,17,21,Kentucky,4361333.0,38.2,43036.0,23462.0,796202.0,18.255932,2059754.0,201987.0,9.806365
6,0,01,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878,2244093.0,241930.0,10.780748
7,10,13,Georgia,9810417.0,35.6,49179.0,25182.0,1736680.0,17.702408,4799681.0,544802.0,11.350796
8,8,11,District of Columbia,619371.0,33.8,65830.0,45290.0,109200.0,17.630790,354171.0,38994.0,11.009936
9,40,45,South Carolina,4679602.0,38.1,44779.0,23943.0,820308.0,17.529439,2261467.0,258444.0,11.428157
10,2,04,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409,3038226.0,316360.0,10.412655
11,48,54,West Virginia,1853619.0,41.5,41043.0,22966.0,321546.0,17.346931,824983.0,69351.0,8.406355
12,43,48,Texas,25639373.0,33.8,51900.0,26019.0,4416829.0,17.226743,12589173.0,1020132.0,8.103249
13,42,47,Tennessee,6402387.0,38.2,44298.0,24409.0,1101732.0,17.208144,3123630.0,316682.0,10.138269
14,33,37,North Carolina,9651380.0,37.6,46334.0,25284.0,1643389.0,17.027503,4762407.0,527430.0,11.074862
15,22,26,Michigan,9886095.0,39.1,48411.0,25681.0,1625982.0,16.447161,4859417.0,616469.0,12.686069
16,36,40,Oklahoma,3785742.0,36.2,45339.0,24208.0,618683.0,16.342450,1814246.0,127842.0,7.046564
17,9,12,Florida,19091156.0,41.0,46956.0,26236.0,3052807.0,15.990687,9298664.0,1096028.0,11.786941
18,37,41,Oregon,3868721.0,38.7,50229.0,26809.0,614778.0,15.890988,1958085.0,221191.0,11.296292
19,4,06,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107,18804519.0,2168665.0,11.532680

In [23]:
#10 Highest Unemployment rate for States in 2014
top_unemployment_2014 = eco_2014.sort_values(["Unemployment Rate"], ascending=False)

top_unemployment_2014.reset_index(inplace=True)

top_unemployment_2014.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3638965.0,38.1,19686.0,11331.0,1630965.0,44.819475,1323954.0,242808.0,18.339610
1,28,32,Nevada,2761584.0,36.9,52205.0,26515.0,423578.0,15.338226,1406781.0,166167.0,11.811860
2,22,26,Michigan,9889024.0,39.3,49087.0,26143.0,1633316.0,16.516453,4848321.0,554747.0,11.442044
3,4,06,California,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,18975006.0,2084564.0,10.985841
4,9,12,Florida,19361792.0,41.2,47212.0,26499.0,3159259.0,16.316976,9359928.0,1024905.0,10.949924
5,24,28,Mississippi,2984345.0,36.3,39464.0,20956.0,653726.0,21.905175,1346038.0,147210.0,10.936541
6,10,13,Georgia,9907756.0,35.8,49342.0,25427.0,1781388.0,17.979732,4819365.0,519291.0,10.775092
7,40,45,South Carolina,4727273.0,38.3,45033.0,24222.0,840141.0,17.772212,2274142.0,242145.0,10.647752
8,8,11,District of Columbia,633736.0,33.7,69235.0,46502.0,109378.0,17.259237,364334.0,38496.0,10.566129
9,33,37,North Carolina,9750405.0,37.8,46693.0,25608.0,1669147.0,17.118745,4793358.0,505668.0,10.549348
10,37,41,Oregon,3900343.0,38.9,50521.0,27173.0,638816.0,16.378457,1958636.0,206222.0,10.528858
11,0,01,Alabama,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,2239169.0,228716.0,10.214325
12,13,17,Illinois,12868747.0,37.0,57166.0,30019.0,1810470.0,14.068736,6701592.0,669561.0,9.991074
13,2,04,Arizona,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,3059049.0,304067.0,9.939919
14,30,34,New Jersey,8874374.0,39.3,72062.0,36359.0,934665.0,10.532180,4688186.0,453097.0,9.664655
15,31,35,New Mexico,2080085.0,36.8,44968.0,23948.0,426116.0,20.485509,969053.0,93106.0,9.607937
16,6,09,Connecticut,3592053.0,40.3,69899.0,38480.0,364740.0,10.154082,1953521.0,186587.0,9.551318
17,39,44,Rhode Island,1053252.0,39.7,56423.0,30765.0,143996.0,13.671562,565123.0,53761.0,9.513150
18,42,47,Tennessee,6451365.0,38.3,44621.0,24811.0,1121344.0,17.381500,3132714.0,296819.0,9.474820
19,17,21,Kentucky,4383272.0,38.3,43342.0,23741.0,803866.0,18.339405,2063756.0,192877.0,9.345921

In [24]:
#10 Highest Poverty rate for States in 2014
top_poverty_2014 = eco_2014.sort_values(["Poverty Rate"], ascending=False)

top_poverty_2014.reset_index(inplace=True)

top_poverty_2014.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3638965.0,38.1,19686.0,11331.0,1630965.0,44.819475,1323954.0,242808.0,18.339610
1,24,28,Mississippi,2984345.0,36.3,39464.0,20956.0,653726.0,21.905175,1346038.0,147210.0,10.936541
2,31,35,New Mexico,2080085.0,36.8,44968.0,23948.0,426116.0,20.485509,969053.0,93106.0,9.607937
3,18,22,Louisiana,4601049.0,36.0,44991.0,24775.0,874638.0,19.009535,2192054.0,189644.0,8.651429
4,3,05,Arkansas,2947036.0,37.6,41264.0,22595.0,549303.0,18.639168,1366807.0,115090.0,8.420355
5,0,01,Alabama,4817678.0,38.2,43511.0,23936.0,889710.0,18.467610,2239169.0,228716.0,10.214325
6,17,21,Kentucky,4383272.0,38.3,43342.0,23741.0,803866.0,18.339405,2063756.0,192877.0,9.345921
7,10,13,Georgia,9907756.0,35.8,49342.0,25427.0,1781388.0,17.979732,4819365.0,519291.0,10.775092
8,2,04,Arizona,6561516.0,36.5,49928.0,25537.0,1169309.0,17.820714,3059049.0,304067.0,9.939919
9,40,45,South Carolina,4727273.0,38.3,45033.0,24222.0,840141.0,17.772212,2274142.0,242145.0,10.647752
10,48,54,West Virginia,1853881.0,41.6,41576.0,23237.0,326225.0,17.596868,820262.0,67035.0,8.172389
11,42,47,Tennessee,6451365.0,38.3,44621.0,24811.0,1121344.0,17.381500,3132714.0,296819.0,9.474820
12,8,11,District of Columbia,633736.0,33.7,69235.0,46502.0,109378.0,17.259237,364334.0,38496.0,10.566129
13,43,48,Texas,26092033.0,33.9,52576.0,26513.0,4500034.0,17.246774,12791590.0,982580.0,7.681453
14,33,37,North Carolina,9750405.0,37.8,46693.0,25608.0,1669147.0,17.118745,4793358.0,505668.0,10.549348
15,22,26,Michigan,9889024.0,39.3,49087.0,26143.0,1633316.0,16.516453,4848321.0,554747.0,11.442044
16,36,40,Oklahoma,3818851.0,36.2,46235.0,24695.0,625508.0,16.379482,1824414.0,124804.0,6.840772
17,37,41,Oregon,3900343.0,38.9,50521.0,27173.0,638816.0,16.378457,1958636.0,206222.0,10.528858
18,9,12,Florida,19361792.0,41.2,47212.0,26499.0,3159259.0,16.316976,9359928.0,1024905.0,10.949924
19,4,06,California,38066920.0,35.6,61489.0,29906.0,6115244.0,16.064457,18975006.0,2084564.0,10.985841

In [25]:
#10 Highest Unemployment rate for States in 2015
top_unemployment_2015 = eco_2015.sort_values(["Unemployment Rate"], ascending=False)

top_unemployment_2015.reset_index(inplace=True)

top_unemployment_2015.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,39,72,Puerto Rico,3583073.0,38.7,19350.0,11394.0,1616117.0,45.104216,1299122.0,235772.0,18.148565
1,33,32,Nevada,2798636.0,37.2,51847.0,26541.0,426337.0,15.233742,1415779.0,148467.0,10.486594
2,25,28,Mississippi,2988081.0,36.5,39665.0,21057.0,651545.0,21.804797,1342359.0,138445.0,10.313560
3,4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,19137441.0,1891081.0,9.881577
4,22,26,Michigan,9900571.0,39.5,49576.0,26607.0,1616870.0,16.331078,4851264.0,477746.0,9.847866
5,9,12,Florida,19645772.0,41.4,47507.0,26829.0,3180109.0,16.187244,9457267.0,915976.0,9.685420
6,10,13,Georgia,10006693.0,35.9,49620.0,25737.0,1788947.0,17.877505,4857206.0,468932.0,9.654357
7,7,11,District of Columbia,647484.0,33.7,70848.0,47675.0,110365.0,17.045209,373626.0,35811.0,9.584718
8,41,45,South Carolina,4777576.0,38.6,45483.0,24604.0,830901.0,17.391686,2293251.0,217977.0,9.505152
9,27,37,North Carolina,9845333.0,38.0,46868.0,25920.0,1667465.0,16.936603,4826193.0,453420.0,9.394983
10,37,41,Oregon,3939233.0,39.1,51243.0,27684.0,636947.0,16.169315,1973823.0,184016.0,9.322822
11,1,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,2229422.0,207097.0,9.289269
12,32,35,New Mexico,2084117.0,37.0,44963.0,24012.0,429361.0,20.601579,964959.0,88924.0,9.215314
13,14,17,Illinois,12873761.0,37.3,57574.0,30494.0,1801118.0,13.990612,6694742.0,608516.0,9.089462
14,3,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,3089118.0,275712.0,8.925266
15,6,09,Connecticut,3593222.0,40.4,70331.0,38803.0,366351.0,10.195613,1953709.0,172292.0,8.818714
16,31,34,New Jersey,8904413.0,39.4,72093.0,36582.0,944847.0,10.610997,4695103.0,413343.0,8.803705
17,40,44,Rhode Island,1053661.0,39.7,56852.0,31118.0,144223.0,13.687799,566588.0,48418.0,8.545539
18,43,47,Tennessee,6499615.0,38.4,45219.0,25227.0,1117594.0,17.194772,3155039.0,266297.0,8.440371
19,17,21,Kentucky,4397353.0,38.5,43740.0,24063.0,805841.0,18.325593,2065689.0,174308.0,8.438250

In [26]:
#10 Highest Poverty rate for States in 2015
top_poverty_2015 = eco_2015.sort_values(["Poverty Rate"], ascending=False)

top_poverty_2015.reset_index(inplace=True)

top_poverty_2015.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,39,72,Puerto Rico,3583073.0,38.7,19350.0,11394.0,1616117.0,45.104216,1299122.0,235772.0,18.148565
1,25,28,Mississippi,2988081.0,36.5,39665.0,21057.0,651545.0,21.804797,1342359.0,138445.0,10.313560
2,32,35,New Mexico,2084117.0,37.0,44963.0,24012.0,429361.0,20.601579,964959.0,88924.0,9.215314
3,18,22,Louisiana,4625253.0,36.1,45047.0,24981.0,888280.0,19.205003,2194199.0,178150.0,8.119136
4,2,05,Arkansas,2958208.0,37.7,41371.0,22798.0,553644.0,18.715520,1361024.0,104943.0,7.710591
5,1,01,Alabama,4830620.0,38.4,43623.0,24091.0,887260.0,18.367415,2229422.0,207097.0,9.289269
6,17,21,Kentucky,4397353.0,38.5,43740.0,24063.0,805841.0,18.325593,2065689.0,174308.0,8.438250
7,10,13,Georgia,10006693.0,35.9,49620.0,25737.0,1788947.0,17.877505,4857206.0,468932.0,9.654357
8,3,04,Arizona,6641928.0,36.8,50255.0,25848.0,1180690.0,17.776314,3089118.0,275712.0,8.925266
9,50,54,West Virginia,1851420.0,41.8,41751.0,23450.0,323384.0,17.466809,814593.0,63341.0,7.775785
10,41,45,South Carolina,4777576.0,38.6,45483.0,24604.0,830901.0,17.391686,2293251.0,217977.0,9.505152
11,43,47,Tennessee,6499615.0,38.4,45219.0,25227.0,1117594.0,17.194772,3155039.0,266297.0,8.440371
12,7,11,District of Columbia,647484.0,33.7,70848.0,47675.0,110365.0,17.045209,373626.0,35811.0,9.584718
13,27,37,North Carolina,9845333.0,38.0,46868.0,25920.0,1667465.0,16.936603,4826193.0,453420.0,9.394983
14,44,48,Texas,26538614.0,34.1,53207.0,26999.0,4472451.0,16.852617,13006330.0,912068.0,7.012493
15,22,26,Michigan,9900571.0,39.5,49576.0,26607.0,1616870.0,16.331078,4851264.0,477746.0,9.847866
16,36,40,Oklahoma,3849733.0,36.2,46879.0,25032.0,624043.0,16.210033,1835519.0,115978.0,6.318540
17,9,12,Florida,19645772.0,41.4,47507.0,26829.0,3180109.0,16.187244,9457267.0,915976.0,9.685420
18,37,41,Oregon,3939233.0,39.1,51243.0,27684.0,636947.0,16.169315,1973823.0,184016.0,9.322822
19,4,06,California,38421464.0,35.8,61818.0,30318.0,6135142.0,15.968007,19137441.0,1891081.0,9.881577

In [27]:
#10 Highest Unemployment rate for States in 2016
top_unemployment_2016 = eco_2016.sort_values(["Unemployment Rate"], ascending=False)

top_unemployment_2016.reset_index(inplace=True)

top_unemployment_2016.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,1281986.0,226880.0,17.697541
1,24,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,1341490.0,128840.0,9.604246
2,28,32,Nevada,2839172.0,37.5,53094.0,27253.0,417257.0,14.696433,1435687.0,133525.0,9.300426
3,4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,19260868.0,1683726.0,8.741693
4,8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,381551.0,33326.0,8.734350
5,10,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4908225.0,419113.0,8.538993
6,22,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4862651.0,412934.0,8.491952
7,31,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,957385.0,81175.0,8.478825
8,9,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,9557443.0,802016.0,8.391533
9,40,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,2323777.0,194454.0,8.368015
10,33,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4865408.0,404584.0,8.315521
11,0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,2226504.0,184479.0,8.285590
12,13,17,Illinois,12851684.0,37.4,59196.0,31502.0,1753731.0,13.645924,6679756.0,545635.0,8.168487
13,37,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,1993417.0,160797.0,8.066401
14,2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3129344.0,249972.0,7.988000
15,6,09,Connecticut,3588570.0,40.6,71755.0,39906.0,360464.0,10.044781,1948693.0,155005.0,7.954306
16,30,34,New Jersey,8915456.0,39.5,73702.0,37538.0,949341.0,10.648261,4691489.0,368870.0,7.862536
17,1,02,Alaska,736855.0,33.6,74444.0,34191.0,72826.0,9.883356,384093.0,30139.0,7.846798
18,39,44,Rhode Island,1054491.0,39.9,58387.0,31904.0,140161.0,13.291816,564082.0,43600.0,7.729373
19,18,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,2194054.0,168326.0,7.671917

In [28]:
#10 Highest Poverty rate for States in 2016
top_poverty_2016 = eco_2016.sort_values(["Poverty Rate"], ascending=False)

top_poverty_2016.reset_index(inplace=True)

top_poverty_2016.head(20)

,index,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Employable Count,Unemployment Count,Unemployment Rate
0,51,72,Puerto Rico,3529385.0,39.4,19606.0,11688.0,1577075.0,44.684131,1281986.0,226880.0,17.697541
1,24,28,Mississippi,2989192.0,36.7,40528.0,21651.0,645553.0,21.596237,1341490.0,128840.0,9.604246
2,31,35,New Mexico,2082669.0,37.2,45674.0,24459.0,426814.0,20.493607,957385.0,81175.0,8.478825
3,18,22,Louisiana,4645670.0,36.2,45652.0,25515.0,889570.0,19.148368,2194054.0,168326.0,7.671917
4,3,05,Arkansas,2968472.0,37.7,42336.0,23401.0,542431.0,18.273071,1359742.0,93190.0,6.853506
5,17,21,Kentucky,4411989.0,38.6,44811.0,24802.0,804139.0,18.226224,2070698.0,156509.0,7.558273
6,0,01,Alabama,4841164.0,38.6,44758.0,24736.0,868666.0,17.943329,2226504.0,184479.0,8.285590
7,2,04,Arizona,6728577.0,37.1,51340.0,26686.0,1165636.0,17.323663,3129344.0,249972.0,7.988000
8,10,13,Georgia,10099320.0,36.2,51037.0,26678.0,1746894.0,17.297145,4908225.0,419113.0,8.538993
9,48,54,West Virginia,1846092.0,41.9,42644.0,24002.0,318060.0,17.228827,811627.0,61215.0,7.542258
10,8,11,District of Columbia,659009.0,33.8,72935.0,48781.0,112060.0,17.004320,381551.0,33326.0,8.734350
11,42,47,Tennessee,6548009.0,38.5,46574.0,26019.0,1100169.0,16.801580,3175503.0,238372.0,7.506590
12,40,45,South Carolina,4834605.0,38.8,46898.0,25521.0,806422.0,16.680204,2323777.0,194454.0,8.368015
13,33,37,North Carolina,9940828.0,38.3,48256.0,26779.0,1631704.0,16.414166,4865408.0,404584.0,8.315521
14,43,48,Texas,26956435.0,34.2,54727.0,27828.0,4397307.0,16.312643,13219523.0,848131.0,6.415746
15,36,40,Oklahoma,3875589.0,36.2,48038.0,25628.0,621155.0,16.027370,1843120.0,110120.0,5.974652
16,22,26,Michigan,9909600.0,39.5,50803.0,27549.0,1575066.0,15.894345,4862651.0,412934.0,8.491952
17,9,12,Florida,19934451.0,41.6,48900.0,27598.0,3139258.0,15.747903,9557443.0,802016.0,8.391533
18,4,06,California,38654206.0,36.0,63783.0,31458.0,6004257.0,15.533257,19260868.0,1683726.0,8.741693
19,37,41,Oregon,3982267.0,39.1,53270.0,28822.0,614223.0,15.423953,1993417.0,160797.0,8.066401

In [29]:
#States with least High School degrees in 2013 
lowest_highschool_2013 = edu_2013.sort_values(["High School and above"])

lowest_highschool_2013.reset_index(inplace=True)

lowest_highschool_2013        #NOTE: WE NEED THE FILTER THE POPULATION DATA TO SHOW THE POPULATION OF 25 AND ABOVE

,index,State,Name,Population,None,High School Degree,GED,Associate Degree,Bachelor Degree,Masters Degree,Professional Degree,Doctorate Degree,High School and above
0,50,56,Wyoming,570134.0,1169.0,92636.0,20209.0,38209.0,62047.0,21918.0,4776.0,4167.0,243962.0
1,1,02,Alaska,720316.0,2796.0,101267.0,22792.0,36351.0,80447.0,31988.0,7431.0,5068.0,285344.0
2,34,38,North Dakota,689781.0,2534.0,105602.0,16593.0,57325.0,88476.0,23474.0,6122.0,4470.0,302062.0
3,8,11,District of Columbia,619371.0,4818.0,69105.0,11858.0,12958.0,97641.0,74657.0,36137.0,16848.0,319204.0
4,45,50,Vermont,625904.0,2062.0,117187.0,16183.0,36977.0,91084.0,42865.0,9776.0,7141.0,321213.0
5,41,46,South Dakota,825198.0,2855.0,147480.0,23773.0,54810.0,98423.0,29152.0,7536.0,5623.0,366797.0
6,7,10,Delaware,908446.0,6361.0,172876.0,21001.0,44444.0,105108.0,50483.0,11201.0,9745.0,414858.0
7,26,30,Montana,998554.0,2733.0,171677.0,32088.0,55480.0,133788.0,40631.0,12099.0,7908.0,453671.0
8,39,44,Rhode Island,1051695.0,12556.0,161877.0,31725.0,59198.0,134313.0,62811.0,15593.0,10473.0,475990.0
9,12,16,Idaho,1583364.0,10194.0,228031.0,50615.0,87761.0,172377.0,54722.0,13830.0,9964.0,617300.0
10,11,15,Hawaii,1376298.0,10126.0,240803.0,22861.0,92512.0,186379.0,63311.0,20481.0,12321.0,638668.0
11,29,33,New Hampshire,1319171.0,5512.0,231678.0,36235.0,87979.0,194439.0,84598.0,15880.0,12654.0,663463.0
12,19,23,Maine,1328320.0,5597.0,270456.0,49276.0,86337.0,169061.0,66849.0,16746.0,10964.0,669689.0
13,27,31,Nebraska,1841625.0,10656.0,295690.0,40703.0,114161.0,230833.0,76357.0,20266.0,13843.0,791853.0
14,31,35,New Mexico,2069706.0,19031.0,296776.0,59282.0,101660.0,198521.0,103824.0,21783.0,23542.0,805388.0
15,48,54,West Virginia,1853619.0,10965.0,443556.0,84691.0,81983.0,146020.0,64710.0,16721.0,10046.0,847727.0
16,44,49,Utah,2813673.0,11477.0,334880.0,45151.0,150873.0,327448.0,112367.0,26030.0,21588.0,1018337.0
17,28,32,Nevada,2730066.0,24187.0,452747.0,69401.0,136479.0,268804.0,94708.0,28645.0,13976.0,1064760.0
18,24,28,Mississippi,2976872.0,26615.0,471019.0,113819.0,155909.0,246100.0,98828.0,24512.0,16545.0,1126732.0
19,3,05,Arkansas,2933369.0,22954.0,561542.0,117797.0,119038.0,257157.0,93456.0,23201.0,15503.0,1187694.0
20,16,20,Kansas,2868107.0,13924.0,429339.0,79313.0,140680.0,363386.0,143301.0,32858.0,20270.0,1209147.0
21,15,19,Iowa,3062553.0,13765.0,584805.0,81566.0,215049.0,359520.0,112200.0,29132.0,20867.0,1403139.0
22,51,72,Puerto Rico,3682966.0,71327.0,566645.0,74604.0,217542.0,409750.0,103812.0,30030.0,19486.0,1421869.0
23,36,40,Oklahoma,3785742.0,21416.0,659615.0,123138.0,171995.0,387885.0,135398.0,33558.0,21616.0,1533205.0
24,37,41,Oregon,3868721.0,25023.0,532503.0,117807.0,216675.0,494922.0,201237.0,52789.0,36357.0,1652290.0
25,6,09,Connecticut,3583561.0,23600.0,600317.0,78053.0,178597.0,498124.0,283662.0,70744.0,38390.0,1747887.0
26,18,22,Louisiana,4567968.0,38757.0,859082.0,155487.0,154171.0,433526.0,144867.0,45547.0,26235.0,1818915.0
27,17,21,Kentucky,4361333.0,32009.0,786950.0,202117.0,206790.0,372738.0,183161.0,47346.0,25428.0,1824530.0
28,0,01,Alabama,4799277.0,40711.0,818315.0,173415.0,236473.0,458393.0,187852.0,45646.0,30801.0,1950895.0
29,40,45,South Carolina,4679602.0,37195.0,797948.0,135284.0,270022.0,501193.0,205214.0,44061.0,30814.0,1984536.0
30,5,08,Colorado,5119329.0,29018.0,621098.0,129139.0,276955.0,799431.0,330767.0,72800.0,51826.0,2282016.0
31,23,27,Minnesota,5347740.0,34123.0,845745.0,111040.0,365212.0,781186.0,263953.0,73760.0,42511.0,2483407.0
32,2,04,Arizona,6479703.0,52419.0,863210.0,168804.0,350503.0,716734.0,296979.0,69819.0,48203.0,2514252.0
33,25,29,Missouri,6007182.0,30537.0,1078278.0,185861.0,282763.0,655633.0,282661.0,66028.0,42737.0,2593961.0
34,49,55,Wisconsin,5706871.0,30911.0,1121823.0,135022.0,367424.0,679310.0,250094.0,58613.0,38711.0,2650997.0
35,20,24,Maryland,5834299.0,39708.0,899158.0,117185.0,245871.0,789022.0,445990.0,114423.0,94483.0,2706132.0
36,42,47,Tennessee,6402387.0,48266.0,1158626.0,261104.0,272396.0,657028.0,251451.0,67515.0,47554.0,2715674.0
37,14,18,Indiana,6514861.0,37569.0,1286939.0,213763.0,334834.0,632094.0,258886.0,55880.0,40860.0,2823256.0
38,47,53,Washington,6819579.0,49296.0,898659.0,178852.0,435658.0,932008.0,370861.0,92112.0,63021.0,2971171.0
39,21,25,Massachusetts,6605058.0,60405.0,1032315.0,131423.0,348097.0,1006270.0,538224.0,124858.0,106970.0,3288157.0
40,46,51,Virginia,8100653.0,60423.0,1159800.0,205778.0,378176.0,1113869.0,580019.0,130878.0,86267.0,3654787.0
41,10,13,Georgia,9810417.0,81690.0,1511144.0,306208.0,438989.0,1121880.0,453219.0,121272.0,71463.0,4024175.0
42,33,37,North Carolina,9651380.0,80438.0,1453891.0,279241.0,557054.0,1154451.0,420219.0,96472.0,76267.0,4037595.0
43,30,34,New Jersey,8832406.0,72712.0,1591198.0,152430.0,375299.0,1336219.0,585221.0,144506.0,85702.0,4270575.0
44,22,26,Michigan,9886095.0,69695.0,1745288.0,260945.0,564950.0,1049930.0,486283.0,106937.0,67068.0,4281401.0
45,35,39,Ohio,11549590.0,65640.0,2392326.0,295839.0,607861.0,1227819.0,521105.0,122484.0,77052.0,5244486.0
46,13,17,Illinois,12848554.0,95087.0,2006238.0,302748.0,632569.0,1657947.0,739404.0,180829.0,97616.0,5617351.0
47,38,42,Pennsylvania,12731381.0,83093.0,2883622.0,344363.0,661608.0,1468125.0,656458.0,162842.0,112239.0,6289257.0
48,9,12,Florida,19091156.0,183723.0,3400290.0,563937.0,1188081.0,2253937.0,854996.0,265198.0,141781.0,8668220.0
49,32,36,New York,19487053.0,229185.0,3096154.0,490255.0,1113374.0,2491222.0,1357039.0,357336.0,180903.0,9086283.0
50,43,48,Texas,25639373.0,303998.0,3329384.0,741316.0,1041307.0,2850532.0,1030911.0,243470.0,161082.0,9398002.0
51,4,06,California,37659181.0,598141.0,4525094.0,540940.0,1895918.0,4753446.0,1821325.0,565907.0,360357.0,14462987.0